.logo .img-logo img{
    width: 100px;
    height: auto;
}
.card-img{
    border: 0;
}
.card-img img{
    height: 400px;
    border-radius: 10px;
}
.card-footer-style{
    border: 0;
    background-color: white;
    margin-bottom: 15px;
}
.btn-style{
    padding: 10px 30px;
    text-decoration: none;
    background-color: yellowgreen;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

.half-width img{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}


header{
    background-color: rgba(219, 195, 171, 0.274);
}
.nav-bar a{
    font-weight: bolder;
    margin: 5px;
}
.orange{
    color: orange;
}